<footer>
    <div class="bg-primary py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3 class="font-weight-bolder text-white">
                        EPE FRANCE
                    </h3>
                    <p>
                    L’application qui défend et qui revitalise la vie démocratique, au service du peuple,
                    pour le peuple, par le peuple et avec le peuple.
                    </p>
                    <ul class="list-unstyled mb-3">
                        <li>
                            <a href="{{ path('app_contact') }}">Contactez-nous</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="d-flex flex-row align-items-center p-2">
                            <i class="fa fa-at"></i> <span class="ml-3">contact@epe-france.com</span>
                        </li>
                        <li class="d-flex flex-row align-items-center p-2">
                            <i class="fa fa-phone-alt"></i> <span class="ml-3">+ 33 (0) 6 12 64 51 95</span>
                        </li>
                        <li class="d-flex flex-row align-items-center p-2">
                            <i class="fa fa-map-marker-alt"></i> <span class="ml-3">
                                37 rue des Mathurins, 75008 Paris (France)
                            </span>
                        </li>
                    </ul>

                    <div class="my-2">
                        <h5>
                            Suivez nous
                        </h5>
                        <ul class="list-unstyled d-inline-flex justify-content-center align-items-center">
                            <li class="px-1">
                                <a href="https://www.facebook.com/%C3%89valuation-de-la-politique-des-%C3%A9lus-httpswwwepe-francecom-109781250890268" target="_blank">
                                    <i class="fab fa-facebook-square fa-2x text-white"></i>
                                </a>
                            </li>
                            <li class="px-1">
                                <a href="https://www.instagram.com/epe2346/" target="_blank">
                                    <i class="fab fa-instagram-square fa-2x text-white"></i>
                                </a>
                            </li>
                            <li class="px-1">
                                <a href="https://twitter.com/eusepfrance" target="_blank">
                                    <i class="fab fa-twitter-square fa-2x text-white"></i>
                                </a>
                            </li>
                            <li class="px-1">
                                <a href="https://www.linkedin.com/company/70870248/admin/" target="_blank">
                                    <i class="fab fa-linkedin fa-2x text-white"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4 class="footer-title-block">
                        Liens utiles
                    </h4>
                    <hr class="bg-light"/>
                    <ul class="list-unstyled epe-categories">
                        <li><a href="https://legifrance.gouv.fr/" target="_blank">Légifrance</a></li>
                        <li><a href="https://impots.gouv.fr/" target="_blank">Impots France</a></li>
                        <li><a href="https://interieur.gouv.fr/" target="_blank">Intérieur</a></li>
                        <li><a href="https://service-public.fr/" target="_blank">Service public</a></li>
                        <li><a href="https://data.gouv.fr/" target="_blank">Données</a></li>
                        <li><a href="https://gouvernement.fr/" target="_blank">Gouvernement</a></li>
                        <li><a href="https://www.france.fr/fr" target="_blank">France</a></li>
                        <li><a href="https://economie.gouv.fr/" target="_blank">Economie</a></li>
                        <li><a href="https://amendes.gouv.fr/tai" target="_blank">Amendes</a></li>
                        <li><a href="https://www.assemblee-nationale.fr/" target="_blank">Assemblée nationale</a></li>
                        <li><a href="http://www.senat.fr/" target="_blank">Senat</a></li>
                        <li><a href="https://cadastre.gouv.fr/" target="_blank">Cadastre</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 class="footer-title-block">
                        Nos apps
                    </h4>
                    <hr class="bg-light"/>


                    <ul class="list-unstyled mb-5 d-flex flex-row justify-content-center">
                        <li class="pr-1">
                            <a href="https://play.google.com/store/apps/details?id=com.epe.france" target="_blank" class="d-block">
                                <img class="img-fluid"
                                     src="build/images/google-play.070a0908.png"
                                     style="height: 50px"/>
                            </a>
                        </li>
                        <li class="pl-1">
                            <a href="https://apps.apple.com/us/app/epe-france/id1538631943" target="_blank" class="d-block">
                                <img class="img-fluid"
                                     src="build/images/apple-store.ff14d536.png"
                                     style="height: 50px"/>
                            </a>
                        </li>
                    </ul>

                        <h4 class="footer-title-block">
                            Nos marques
                        </h4>
                         <hr class="bg-light"/>
                        <ul class="list-unstyled d-flex flex-row justify-content-center align-items-center">
                            <li class="flex-fill bg-light rounded mr-1">
                                <a href="https://eusep-france.com/" target="_blank" class="p-2 d-block text-center">
                                    <img class="img-fluid" src="{{ asset('build/images/eusep-logo.6227695c.png') }}" style="height: 60px"/>
                                </a>
                            </li>
                            <li class="flex-fill bg-light rounded ml-1">
                                <a href="https://www.rif-france.com/" target="_blank" class="p-2 d-block text-center">
                                    <img class="img-fluid" src="{{ asset('build/images/logo-rif.f36fc939.png') }}" style="height: 60px"/>
                                </a>
                            </li>
                        </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center py-3">
        <ul class="list-unstyled p-0 m-0 d-inline-flex flex-wrap align-items-center justify-content-center">
            <li class="p-2"><a href="{{ path('app_about') }}">{{'à'|upper}} propos de nous</a></li> -
            <li class="p-2"><a href="{{ path('app_cgu') }}">CGU</a></li> -
            <li class="p-2"><a href="{{ path('app_rgpd') }}">RGPD</a></li> -
            <li class="p-2"><a href="{{ path('app_legal') }}">Mentions légales</a></li> -
            <li class="p-2"><a href="{{ path('app_plan') }}">Plan du site</a></li>
        </ul><br />
        <small>Tous droits réservés &copy; 2019 - {{ 'now'|date('Y') }} - Association pour la défense des fonctionnaires et des usagers de la fonction publique</small>
    </div>
</footer>
