{% extends 'manager/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Détails député européen
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card my-3">
                    <div class="card-header d-inline-flex w-100 flex-wrap align-items-center justify-content-between border-0">
                        <h5 class="card-title">Détails député européen</h5>
                        <ul class="list-unstyled d-inline-flex align-items-center float-right">
                            <li class="px-1">
                                <a href="{{ path('euro_deputy_index') }}" class="btn btn-link">
                                    <i class="fa fa-arrow-left"></i> Retour
                                </a>
                            </li>
                            <li class="px-1">
                                <a href="{{ path('manager_elected_member', {categoryId: 6, id: euro_deputy.id }) }}" class="btn btn-secondary">
                                    <i class="fa fa-newspaper"></i> Ajouter extra data
                                </a>
                            </li>
                            <li class="px-1">
                                <a href="{{ path('euro_deputy_edit', {'id': euro_deputy.id}) }}" class="btn btn-success">
                                    <i class="fa fa-edit"></i> Modifier
                                </a>
                            </li>
                            <li class="px-1">
                                <a href="{{ path('board_minute_index', {categoryId: 6, id: euro_deputy.id }) }}" class="btn btn-warning">
                                    <i class="fa fa-file"></i> PVs de conseils
                                </a>
                            </li>
                            <li class="px-1">
                                {{ include('manager/euro_deputy/_delete_form.html.twig', {button_label: 'Supprimer'}) }}
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        {% include 'manager/_common/_flash_message.html.twig' %}
                        <table class="table table-bordered">
                            <tbody>
                            <tr class="bg-warning text-white">
                                <th colspan="2" align="center">Infos générales</th>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ euro_deputy.lastName|upper }}</td>
                            </tr>
                            <tr>
                                <th>Prénom</th>
                                <td>{{ euro_deputy.firstName|capitalize }}</td>
                            </tr>
                            <tr>
                                <th>Sexe</th>
                                <td>{{ euro_deputy.gender|upper }}</td>
                            </tr>
                            <tr>
                                <th>Date de naissance</th>
                                <td>{{ euro_deputy.birthDate ? euro_deputy.birthDate|date('d/m/Y') : '' }}</td>
                            </tr>
                            <tr class="bg-warning text-white">
                                <th colspan="2" align="center">Détails profession</th>
                            </tr>
                            <tr>
                                <th>Code</th>
                                <td>{{ euro_deputy.professionCode }}</td>
                            </tr>
                            <tr>
                                <th>Libellé</th>
                                <td>{{ euro_deputy.professionLabel }}</td>
                            </tr>
                            <tr>
                                <th>Date début de mandate</th>
                                <td>{{ euro_deputy.mandateStartDate ? euro_deputy.mandateStartDate|date('d/m/Y') : '' }}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
